<h3 class="chartTitle">{{ country }}</h3>
<div class="chartInfoContainer">
  <div class="chartInfo">
    <div class="chartInfoTitle">Nombre de participations</div>
    <div class="chartInfoNumber">{{ participationsNumber }}</div>
  </div>
  <div class="chartInfo">
    <div class="chartInfoTitle">Nombre de médailles</div>
    <div class="chartInfoNumber">{{ medalsNumber }}</div>
  </div>
  <div class="chartInfo">
    <div class="chartInfoTitle">Nombre d'athlete</div>
    <div class="chartInfoNumber">{{ athletesNumber }}</div>
  </div>
</div>
<!-- Line Charts -->
<div class="flexJustify">
  <ngx-charts-line-chart
    class="relativeLeft"
    [results]="data"
    [view]="view"
    [scheme]="'cool'"
    [legend]="false"
    [animations]="false"
    [xAxis]="true"
    [yAxis]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxisLabel]="xAxisLabel"
    [yAxisTicks]="yAxisTicks"
    [yScaleMax]="yAxisMax"
  >
  </ngx-charts-line-chart>
</div>
