$bleuvert: #008591;
$borderradius: 6px;

.flexJustify {
  display: flex;
  justify-content: center;
}

.chartTitle {
  display: flex;
  justify-content: center;
  background-color: $bleuvert;
  border-radius: $borderradius;
  width: fit-content;
  margin: 0 auto 20px;
  height: 20px;
  font-size: 20px;
  color: white;
  padding: 10px 12px;
}

.chartInfoContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0 auto 20px;
}

.chartInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border: 2px solid $bleuvert;
  border-radius: $borderradius;
  padding: 8px 10px;
  font-size: 18px;
}

.chartInfoTitle {
  color: #666666;
}

.chartInfoNumber {
  color: black;
  font-weight: bold;
}

.labelContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 6px 2px;
  font-size: 16px;
}

.labelMedal {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
}

.labelMedal img {
  height: 20px;
}
