.header {
  display: flex;
  align-items: center;
  height: 59px;
  padding-left: 12px;
  margin-bottom: 45px;
  color: #247c72;
  font-size: 22px;
  font-weight: 600;
  gap: 7px;
  text-decoration: none;
}

.headerLogo {
  height: 29px;
  background-color: #ececec;
  border-radius: 50%;
  padding: 3.3px;
}
