<h3 class="chartTitle">Médailles par pays</h3>
<div class="chartInfoContainer">
  <div class="chartInfo">
    <div class="chartInfoTitle">Nombre de JOs</div>
    <div class="chartInfoNumber">{{ gamesNumber }}</div>
  </div>
  <div class="chartInfo">
    <div class="chartInfoTitle">Nombre de pays</div>
    <div class="chartInfoNumber">{{ countryNumber }}</div>
  </div>
</div>
<!-- Pie Charts -->
<div class="ngx-container">
  <ngx-charts-pie-chart
    [view]="view"
    [results]="data"
    [gradient]="gradient"
    [legend]="showLegend"
    [labels]="showLabels"
    [doughnut]="isDoughnut"
    (select)="onSelect($event)"
  >
    >
    <ng-template #tooltipTemplate let-model="model">
      <div class="labelContainer">
        <div>
          {{ model.name }}
        </div>
        <div class="labelMedal">
          <img src="../../../assets/whitemedal.svg" alt="icone médaille" />
          <div>{{ model.value }}</div>
        </div>
      </div>
    </ng-template>
  </ngx-charts-pie-chart>
</div>
